.name {
    height: 100vh;
    width: 100%;
    background-color: #FAF3F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2,
p {
    color: #1D5B79;
}

.name>h2 {
    font-size: 50px;
    font-family: Georgia, serif;
}

.name>p {
    font-size: 45px;
    font-family: Georgia, serif;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.intro>img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.icons>img {
    width: 3rem;
    height: 3rem;
}

img {
    width: 18rem;
    height: 8rem;
}

.photo {
    text-align: center;
}

h2 {
    font-family: Georgia, serif;
}

.project>h2 {
    margin-top: 6rem;
    text-align: center;
}

p {
    font-family: Georgia, serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pro {
    width: 25%;
}

.contact {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media (max-width:1000px) {
    .container {
        align-items: center;
        flex-direction: column;
    }

    img {
        width: 16rem;
        height: 8rem;
    }
}

@media (max-width: 600px) {
    img {
        width: 11rem;
        height: 8rem;
    }
}

@media (max-width: 350px) {
    img {
        width: 9rem;
        height: 8rem;
    }
}